<ng-include src="'assets/views/admin/navbar.html'"></ng-include>

<div class="admin-body">
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">Recent users ({{ userCount }} users in total)</div>
				<table class="table">
					<tr>
						<th>ID</th>
						<th>Role</th>
						<th>Email</th>
						<th>Registered</th>
						<th>Location</th>
					</tr>
					<tr ng-repeat="user in users">
						<td>{{ user.id }}</td>
						<td>{{ user.role }}</td>
						<td>{{ user.email }}</td>
						<td>{{ user.dateCreated.time | date:'yy-MM-dd' }}</td>
						<td>{{ user.location }}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>