<ng-include src="'assets/views/admin/navbar.html'"></ng-include>

<div class="admin-body">
	<div class="row">
		<div class="admin-left">
			<button class="btn btn-primary btn-block" ng-click="create()">Create new feed</button>
			<form ng-submit="submit()">
				<div class="input-group">
					<span class="input-group-addon">Find</span>
					<input class="form-control" type="text" ng-change="change()" ng-model="name" ng-model-options="{ debounce: 250 }" placeholder="Feed name" autofocus/>
				</div>
			</form>

			<ul>
				<li ng-repeat="feed in feeds" data-id="{{ feed.id }}" ng-click="edit(feed.id)">
					{{ feed.name }} <span class="badge">{{ feed.category }}</span>
				</li>
			</ul>
		</div>

		<script type="text/ng-template" id="customTemplate.html">
		  <a>
		      <img ng-src="{{match.model[1]}}" width="32" height="32">
		      <span bind-html-unsafe="match.model[0] | typeaheadHighlight:query"></span>
		  </a>
		</script>
		
		<div class="admin-right">
			<form ng-submit="formSubmit()" ng-show="form">
				<h2 class="text-center">{{form == 'edit' ? "Edit" : "Create"}} feed</h2>

				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label>Name</label>
							<input type="text" ng-model="feedDetails.name" id="inputName" class="form-control" required>
						</div>

						<div class="form-group">
							<label>Type</label>
							<select ng-model="feedDetails.category" id="inputRole" class="form-control">
								<option value="league">League</option>
								<option value="team">Team</option>
								<option value="player">Player</option>
							</select>
						</div>

						<div class="form-group">
							<label>Location</label>
							<input type="text" ng-model="feedDetails.location" ng-model-options="{ debounce: 250 }" id="inputLocation" class="form-control"
								typeahead="item for item in getLocation($viewValue)" required>
						</div>
					</div>

					<div class="col-xs-6">
						<div class="form-group">
							<label>Facebook</label>
							<input type="text" ng-model="feedDetails.facebookApi" ng-model-options="{ debounce: 250 }" id="inputFacebook" class="form-control" typeahead="item for item in getFacebookPageName($viewValue)" typeahead-template-url="customTemplate.html" typeahead-on-select="onFacebookSelect($item, $model, $label)">
						</div>

						<div class="form-group">
							<label>Twitter username</label>
							<div class="input-group">
								<span class="input-group-addon">&#64;</span>
								<input type="text" ng-model="feedDetails.twitterApi" ng-model-options="{ debounce: 250 }" id="inputTwitter" class="form-control" typeahead="item for item in getTwitterUsername($viewValue)" typeahead-template-url="customTemplate.html" typeahead-on-select="onTwitterSelect($item, $model, $label)">
							</div>
						</div>

						<div class="form-group">
							<label>Instagram username</label>
							<input type="text" ng-model="feedDetails.instagramApi" ng-model-options="{ debounce: 250 }" id="inputInstagram" class="form-control" typeahead="item for item in getInstagramUsername($viewValue)" typeahead-template-url="customTemplate.html" typeahead-on-select="onInstagramSelect($item, $model, $label)">
						</div>

						<div class="form-group">
							<label>YouTube</label>
							<input type="text" ng-model="feedDetails.youtubeApi" id="inputYoutube" class="form-control">
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-6">
						<button class="btn btn-primary" type="submit" ng-disabled="disabled">{{form == 'edit' ? "Update" : "Add"}}</button>
					</div>
					<div class="col-xs-6 text-right" ng-show="form == 'edit'">
						<button class="btn btn-danger" type="button" ng-click="remove()" ng-disabled="disabled">Remove</button>
					</div>
					<div class="col-xs-6 text-right" ng-show="form == 'create'">
						<button class="btn btn-danger" type="button" ng-click="cancel()" ng-disabled="disabled">Cancel</button>
					</div>
				</div>
			</form>

			<div class="alert alert-danger" ng-show="error">
				<span class="glyphicon glyphicon-exclamation-sign"></span> {{error}}
			</div>

			<div class="alert alert-success" ng-show="message">
				<span class="glyphicon glyphicon-ok"></span> {{message}}
			</div>
		</div>
	</div>
</div>
