<ng-include src="'assets/views/admin/navbar.html'"></ng-include>

<div class="admin-body">
	<div class="row">
		<div class="admin-center col-xs-8 col-xs-offset-2">
			<h2 class="text-center">Import Feeds</h2>
			<form ng-submit="importFeeds()">
				<div class="form-group">
					<input type="file" class="form-control" onchange="angular.element(this).scope().fileChange(this)">
				</div>
				<input type="submit" class="btn btn-primary" value="Import">
			</form>
			
			<h2 class="text-center">Export Feeds</h2>
			<button class="btn btn-primary" ng-click="exportFeeds()">Export</button>
		</div>

		<div class="alert alert-danger col-xs-8 col-xs-offset-2" ng-show="error">
			<span class="glyphicon glyphicon-exclamation-sign"></span> {{error}}
		</div>

		<div class="alert alert-success col-xs-8 col-xs-offset-2" ng-show="message">
			<span class="glyphicon glyphicon-ok"></span> {{message}}
		</div>

		<div class="alert alert-info col-xs-8 col-xs-offset-2" ng-show="info">
			{{info}}
		</div>
	</div>
</div>
