<ng-include src="'assets/views/admin/navbar.html'"></ng-include>

<div class="admin-body">
	<div class="row">
		<div class="admin-center col-xs-8 col-xs-offset-2">
			<h2 class="text-center">Popular Feeds</h2>

			<div class="input-group">
				<span class="input-group-addon">Find</span>
				<input type="text" class="form-control" ng-model="name" typeahead="item.name for item in search($viewValue)" typeahead-on-select="onSearchSelect($item, $model, $label)" placeholder="Feed name" autofocus />
				<span class="input-group-addon btn btn-success" ng-click="add()">Add</span>
			</div>

			<div class="table-wrapper">
				<table class="table">
					<tr>
						<th>ID</th>
						<th>Type</th>
						<th>Name</th>
						<th>Added</th>
						<th>Location</th>
						<th></th>
					</tr>
					<tr ng-repeat="feed in feeds" data-id="{{ feed.id }}" >
						<td>{{ feed.id }}</td>
						<td>{{ feed.category }}</td>
						<td>{{ feed.name }}</td>
						<td>{{ feed.dateCreated.time | date:'yy-MM-dd' }}</td>
						<td>{{ feed.location }}</td>
						<td><button class="btn btn-sm btn-danger" ng-click="remove(feed.id)">remove</button>
					</tr>
				</table>
			</div>
		</div>

		<div class="alert alert-danger col-xs-8 col-xs-offset-2" ng-show="error">
			<span class="glyphicon glyphicon-exclamation-sign"></span> {{error}}
		</div>

		<div class="alert alert-success col-xs-8 col-xs-offset-2" ng-show="message">
			<span class="glyphicon glyphicon-ok"></span> {{message}}
		</div>
	</div>
</div>
